* {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: beige;
  height: 100vh;
  display: grid;
}
nav {
  background-color: #1c2833;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  width: 100%;
}

nav img {
  width: 12%;
}

h1 {
  font-size: 1rem;
  padding-left: 1rem;
}
.eclipses-phases {
  width: 100%;
  height: 450px;
  border-top: 1px solid #b48c0c;
  background-image: url("Stages_of_a_total_solar_eclipse_pillars.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.video-content {
  text-align: center;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  color: #000;
}
.video-content h2 {
  font-size: 30px;
  color: #1c2833;
  padding: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.video-content p {
  letter-spacing: 0.2rem;
  line-height: 2rem;
  color: rgb(85, 84, 84);
  margin-bottom: 20px;
}

iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1c2833;
  color: white;
}

footer a {
  color: #b48c0c;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}

footer a:hover {
  color: #f0f0f0;
  text-decoration: underline;
}
footer ul {
  margin-top: 1rem;
  list-style: none;
  line-height: 20px;
}
footer p {
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  .eclipses-phases {
    height: 400px;
  }
  nav h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1800px) and (min-width: 1025px) {
  nav h1 {
    font-size: 2rem;
  }
  .video-content p {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1800px) {
  nav h1 {
    font-size: 2rem;
  }
  footer h3 {
    font-size: 1.3rem;
  }
  footer ul {
    font-size: 1.3rem;
    line-height: 25px;
  }
  footer p {
    font-size: 1.1rem;
  }
  .video-content p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 7500px) {
  nav h1 {
    font-size: 10rem;
  }
  .eclipses-phases {
    height: 2000px;
  }
  .video-content h2 {
    font-size: 15rem;
  }
  .video-content p {
    font-size: 8rem;
    line-height: 150px;
    margin-bottom: 200px;
  }
  iframe {
    height: 2500px;
    border-radius: 80px;
  }
  footer h3 {
    font-size: 6rem;
  }
  footer ul {
    font-size: 5rem;
    line-height: 85px;
  }
  footer p {
    font-size: 6rem;
  }
}

@media screen and (max-width: 7500px) and (min-width: 1801px) {
  nav h1 {
    font-size: 10rem;
  }
  .eclipses-phases {
    height: 2000px;
  }
  .video-content h2 {
    font-size: 15rem;
  }
  .video-content p {
    font-size: 8rem;
    line-height: 150px;
    margin-bottom: 200px;
  }
  iframe {
    height: 2500px;
    border-radius: 80px;
  }
  footer h3 {
    font-size: 6rem;
  }
  footer ul {
    font-size: 5rem;
    line-height: 85px;
  }
  footer p {
    font-size: 6rem;
  }
}
@media screen and (max-width: 5000px) and (min-width: 1801px) {
  .eclipses-phases {
    height: 1500px;
  }
  nav h1 {
    font-size: 7rem;
  }
  .video-content h2 {
    font-size: 10rem;
  }
  .video-content p {
    font-size: 6rem;
    line-height: 150px;
    margin-bottom: 200px;
  }
  footer h3 {
    font-size: 4rem;
  }
  footer ul {
    font-size: 4rem;
    line-height: 70px;
  }
  footer p {
    font-size: 4rem;
  }
}
@media screen and (max-width: 3800px) and (min-width: 1801px) {
  .eclipses-phases {
    height: 1000px;
  }
  nav h1 {
    font-size: 6rem;
  }
  .video-content h2 {
    font-size: 6rem;
  }
  .video-content p {
    font-size: 4rem;
    line-height: 90px;
  }
  iframe {
    height: 1500px;
  }
  footer h3 {
    font-size: 3rem;
  }
  footer ul {
    font-size: 3rem;
    line-height: 60px;
  }
  footer p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 3000px) and (min-width: 1801px) {
  video {
    height: 1200px;
  }
}
@media screen and (max-width: 2500px) and (min-width: 1801px) {
  .eclipses-phases {
    height: 800px;
  }
  nav h1 {
    font-size: 4rem;
  }
  .video-content h2 {
    font-size: 4rem;
  }
  .video-content p {
    font-size: 3rem;
    line-height: 60px;
  }
  iframe {
    height: 1000px;
  }
  footer h3 {
    font-size: 2.5rem;
  }
  footer ul {
    font-size: 2rem;
    line-height: 50px;
  }
  footer p {
    font-size: 1.7rem;
  }
}
/* Small screens */
@media screen and (max-width: 768px) {
  nav img {
    width: 14%;
  }

  h1 {
    font-size: 28px;
  }

  .video-content {
    max-width: 90%;
  }
}
